@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CarRentalManagement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span style="color:#000000" class="oi oi-person" aria-hidden="true"></span> <span style="color:#408000">@context.User.Identity?.Name</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="BeginLogOut" Match="NavLinkMatch.All">
                        <span style="color:#000000" class="oi oi-account-logout" aria-hidden="true"></span> <span style="color:#408000">Log out</span>
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                        <span style="color:#000000" class="oi oi-person" aria-hidden="true"></span> <span style="color:#408000">Register</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                        <span style="color:#000000" class="oi oi-account-login" aria-hidden="true"></span> <span style="color:#408000">Log in</span>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span style="color:#000000" class="oi oi-home" aria-hidden="true"></span> <span style="color:#408000">Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span style="color:#000000" class="oi oi-plus" aria-hidden="true"></span> <span style="color:#408000">Counter</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="samplepage">
                <span style="color:#000000" class="oi oi-list-rich" aria-hidden="true"></span> <span style="color:#408000">Sample page</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="anothersamplepage">
                <span style="color:#000000" class="oi oi-list-rich" aria-hidden="true"></span> <span style="color:#408000">Another sample page</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span style="color:#000000" class="oi oi-list-rich" aria-hidden="true"></span> <span style="color:#408000">Fetch data</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="makes">
                <span style="color:#000000" class="oi oi-list-rich" aria-hidden="true"></span> <span style="color:#408000">Makes</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="models">
                <span style="color:#000000" class="oi oi-list-rich" aria-hidden="true"></span> <span style="color:#408000">Models</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="colours">
                <span style="color:#000000" class="oi oi-list-rich" aria-hidden="true"></span> <span style="color:#408000">Colours</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span style="color:#000000" class="oi oi-list-rich" aria-hidden="true"></span> <span style="color:#408000">Customers</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vehicles">
                <span style="color:#000000" class="oi oi-list-rich" aria-hidden="true"></span> <span style="color:#408000">Vehicles</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bookings">
                <span style="color:#000000" class="oi oi-list-rich" aria-hidden="true"></span> <span style="color:#408000">Bookings</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}
